/* All style should go in this document. */
body {
	padding-top: 50px;
	font-family: 'Comforta', serif;
	font-size: 2rem;
}
.bg-top { 
    background-color: #3e606f; /* Green */
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 70px;

}

.bg-education { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.bg-skills { 
    background-color: #ffffff; /* White */
    color: #555555;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-experiences {
	background-color: #91aa9d;
	color: #111111;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-projects {
	background-color: #d1dbbd;
	color: #000000;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-about {
	background-color: #002f2f;
	color: #cccccc;
	padding-top: 50px;
	padding-bottom: 50px;
}

.bg-contact {
	background-color: #000000;
	color: #ffffff;
	padding-top: 50px;
	padding-bottom: 50px;
}

.tangarine-font {
	font-family: 'Tangerine', serif;
    font-size: 5rem;
    text-shadow: 4px 4px 4px #aaa;
}

.dancing-font {
	font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    text-shadow: 4px 4px 4px #aaa;
}


img {
	max-width: 300px;
	border-width: 5px;
	border-style: solid;
	border-color: #ecf0f1;
}
